{#
/**
 * @file
 * Default theme implementation to display an open collective list of events.
 *
 * Available variables:
 * - collective: Collective slug.
 * - event_properties: String of the properties requested from the api.
 * - events: Array of event objects.
 *
 * @ingroup themeable
 */
#}
<div class="opencollective-api-events--wrapper">
  {% if events is not empty %}
    {% for event in events %}
      <div class="opencollective-api-events--event" style="background-image: url({{ event.backgroundImageUrl }})">
        <div class="opencollective-api-events--event-logo">
          <img src="{{ event.imageUrl }}">
        </div>
        <div class="opencollective-api-events--event-content">
          <h3>{{ event.name }}</h3>
          <p>{{ event.description }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
