{#
/**
 * @file
 * Default theme implementation to display an open collective list of members.
 *
 * Available variables:
 * - collective: Collective slug.
 * - members: Array of member objects.
 *
 * @ingroup themeable
 */
#}
<div class="opencollective-api-members--wrapper">
  {% if members is not empty %}
    {% for member in members %}
      <div class="opencollective-api-members--member">
        {% if member.imageUrl %}
          <img
            class="opencollective-api-members--member-image"
            src="{{ member.imageUrl }}"
            alt="{{ member.name |default( collective ~ ' contributor' ) }}">
        {% endif %}
        {% if member.name %}
          <strong class="opencollective-api-members--member-name">{{ member.name }}</strong>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
