[submodule "web/sites/default/files/civicrm/ext/ca.civicrm.contributionrecur"]
	path = web/sites/default/files/civicrm/ext/ca.civicrm.contributionrecur
	url = https://github.com/Kin-Coop/ca.civicrm.contributionrecur.git
