.opencollective-api-events--wrapper {}

.opencollective-api-events--event {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
  border-radius: 4px;
  padding: 24px 32px;
}
.opencollective-api-events--event-logo {
  flex-shrink: 1;
  text-align: center;
  background: rgba(255,255,255,0.75);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.opencollective-api-events--event-content {
  flex-grow: 1;
  padding: 12px 24px;
  background: rgba(255,255,255,0.75);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.opencollective-api-events--event-content h3 {
  margin-top: 0;
}
