/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder, property-no-vendor-prefix */

.help,
#help {
  background: initial;
  border: none;
  color: $text-color;
  padding: 15px 0;
  margin: 0;
  font-size: $font-size-base;

  a {
    color: darken($brand-primary, $crm-darken-percentage);
  }
}

// Usually we do not need horizontal padding
// except when the help is directly at the top of the page
#crm-main-content-wrapper > .help {
  padding: 15px;
}
