#{civi-page('report-list')},
#{civi-page('report-template')} {
  .crm-report-instanceList-form-block,
  .crm-report-templateList-form-block {
    .crm-accordion-bold {
      margin: 0;
    }

    .report-layout {
      td {
        line-height: normal;
        padding: 12px 10px !important;

        &:first-child {
          padding-left: 20px !important;
        }

        &:last-child {
          padding-right: 20px !important;
          text-align: right;

          &.crm-report-templateList-description {
            text-align: left;
          }
        }

        &.crm-report-templateList-title {
          div {
            float: right;
          }
        }
      }
    }
  }

  .crm-report-instanceList-form-block {
    .report-layout {
      td {
        &:last-child {
          white-space: nowrap;
        }
      }
    }
  }

  .action-link {
    margin: 20px 0 0;

    &:first-of-type {
      margin: 0 0 20px;
    }
  }
}
